@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-background-image">

    <div class="about-container">
        <div class="about-container-links">
            <p class="multi-title">Contact</p>
            <p class="about-details">Email: <a href="mailto:stefan.kezdi@gmail.com">stefan.kezdi@gmail.com</a></p>
            <p class="about-details">Flickr: <a href="https://www.flickr.com/photos/188731665@N06/">stefan.kezdi</a></p>
            <p class="about-details">Instagram: <a href="https://instagram.com/stefan.kezdi">stefan.kezdi</a></p>
            <p class="about-details">Facebook: <a href="https://facebook.com/stefan.kezdi">stefan.kezdi</a></p>
        </div>
        <div class="about-image">
            <img src="~/content_images/about_profile_picture.png" class="about-image-img" alt="About Image" />
        </div>
    </div>


</div>